<!-- .navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- .row-->
  <div class="row">
    <!--leave a nice padding to the left-->
    <div class="col-4"></div>
    <!-- .col-4 -->
    <div class="col-4">
      <!-- Search form -->
      <form (ngSubmit)="search(f)" #f="ngForm" >
        <!-- .input-group -->
        <div class="input-group text-center">
          <input  type="text" ngModel name="url" class="form-control" placeholder="url of the video...">
          <!-- .span -->
          <span class="input-group-btn">
            <button type="submit"  class="btn btn-default" >Go!</button>
          </span><!-- ./span -->
        </div><!-- /.input-group -->
        <!--leave a nice padding to the right-->
        <div class="col-4"></div>
      </form><!-- /Search form -->
    </div><!-- /.col-4 -->
  </div><!-- /.row -->
</nav><!-- /.navbar -->
