<!-- .navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- .row-->
  <div class="row">
    <!--leave a nice padding to the left-->
    <div class="col"></div>
    <!-- .col -->
    <div class="col">
      <!-- Search form -->
      <form (ngSubmit)="search(f)" #f="ngForm" >
        <!-- .input-group -->
        <div class="input-group ">
          <input  type="text" ngModel name="url" class="form-control block" placeholder="url of the video...">
          <!-- .span -->
          <span>
             <button type="submit" class="btn btn-outline-secondary" >Go!</button>
           </span><!-- ./span -->
        </div><!-- /.input-group -->
        <!--leave a nice padding to the right-->
        <div class="col"></div>
      </form><!-- /Search form -->
    </div><!-- /.col-->
    <!--leave a nice padding to the right-->
    <div class="col"></div>
  </div><!-- /.row -->
</nav><!-- /.navbar -->
