<!-- .navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- .row-->
  <div class="row">
    <!--leave a nice padding to the left-->
    <div class="col"></div>
    <!-- .col -->
    <div class="col">
      <!-- Search form -->
      <form (ngSubmit)="search(f)" #f="ngForm" >
        <!-- .input-group -->
        <div class="input-group mb-3">
          <input type="text" class="form-control block" placeholder="url of the video..." size="200">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">Go!</button>
          </div>
        </div>
      </form><!-- /Search form -->
    </div><!-- /.col-->
    <!--leave a nice padding to the right-->
    <div class="col"></div>
  </div><!-- /.row -->
</nav><!-- /.navbar -->
